html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#game-intro {
  display: block;
  overflow: hidden;
}

.intro-screen {
  overflow: hidden;
}

.intro-img {
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 999;
}

.logo-img {
  width: 50%;
  height: auto;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 999;
  position: absolute;
}

.start-section {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#start-button,
#play-button,
#restart-button {
  background-color: #f4c542;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#start-button:hover,
#play-button:hover,
#restart-button:hover {
  background-color: #ecb10f;
}

#game-inter {
  display: none;
  height: 100vh;
  width: 100vw;
}

.inter-screen,
.end-screen {
  padding: 1rem 0rem;
  background-image: url("/assets/interbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.inter-screen h2 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.pokemon-section,
.rare-section,
.enemy-section .control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-container,
.rare-container,
.enemy-container,
.control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.control-container img {
  width: auto;
  height: 50px;
}

.control-container,
.pokemon-container,
.rare-container,
.enemy-container p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fafafa;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.heart {
  width: 30px;
  height: auto;
}

#game-end {
  display: none;
}

.end-screen {
  padding: 1rem 0rem;
  background-image: url("/assets/interbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-screen h2 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.end-screen p {
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

canvas {
  display: none;
  margin: 0 auto;
  /* background: url("./assets/background/safron.png"); */
  background-size: cover;
  overflow: hidden;
}
