*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/assets/interbg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3rem;
  color: #fafafa;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-wrap: nowrap;
}

#game-intro {
  display: block;

}

.intro-screen {
  height: 100dvh;
  width: 100dvw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/intro.png");
}



.logo-img {
  width: 50%;
  height: auto;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 999;
  position: absolute;
}

.start-section {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#start-button,
#play-button,
#restart-button,
#restart-final-button {
  background-color: #f4c542;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.25s ease-in-out;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

#start-button:hover,
#play-button:hover,
#restart-button:hover {
  background-color: #ecb10f;
}

#game-inter {
  display: none;
  height: 100vh;
  width: 100vw;
}

.inter-screen,
.end-screen {
  padding: 3rem 0rem 8rem 0rem;
  background-image: url("/assets/interbg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

.inter-screen h2 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 2rem 0rem;
}

.pokemon-section,
.rare-section,
.enemy-section .control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pokemon-container,
.rare-container,
.enemy-container,
.control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.control-container img {
  width: auto;
  height: 50px;
}

.score-section img {
  width: 30px;
  height: auto;

}

.score-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.control-section,
.pokemon-container,
.rare-container,
.enemy-container p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fafafa;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.heart {
  width: 30px;
  height: auto;
}

#game-end {
  display: none;
}

.end-screen {
  padding: 1rem 0rem;
  background-image: url("/assets/interbg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.end-screen h2 {
  font-size: 5rem;
  color: #fafafa;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.end-screen p {
  font-size: 2rem;
  color: #fafafa;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#game-final {
  display: none;
}

.final-screen {
  padding: 1rem 0rem;
  background-image: url("/assets/finalbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.final-screen h2 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  font-size: 5rem;
  color: #fafafa;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.final-screen p {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  font-size: 2rem;
  color: #fafafa;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

canvas {
  display: none;
  margin: 0 auto;
  background-size: cover;
  overflow: hidden;
}
